.card-header {
    background-color: #ffc107;
    color: #000;
}

.card-body{
    background-color: #000;
}

.card-title{
    color: white;
}

.table {
    background-color: #1a1a1a;
    color: #fff;
}

.table thead {
    background-color: #ffc107;
    color: #000;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #2a2a2a;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #1a1a1a;
}

.sidebar {
    height: calc(100vh - 20px);
    margin-top: 10px;
    background-color: #1a1a1a;
    border-right: 1px solid #ffc107;
    top: 10px;
    width: 30vw;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px; 
    display: block;
}

.sidebar a:hover {
    background-color: #ffc107;
    color: #000;
}

h1, h2, h5 {
    color: #ffc107;
    margin-bottom: 10px; 
}

p {
    color: #fff;
    margin-bottom: 5px; 
}

.container {
    padding: 10px; 
}

.row {
    margin-bottom: 5px; 
}

canvas {
    margin-bottom: 5px; 
    height: 350px !important; 
    width: 100% !important; 
}